1.  What are data structures, and why are they important

->Data structures are built-in types and collections that allow you to organize and manipulate data efficiently. Every data structure has a specific format for organizing, processing, retrieving and storing data, allowing data to be manipulated in various ways by users.
They are important because they help manage data efficiently, enabling faster access, processing, and problem-solving.

2. Explain the difference between mutable and immutable data types with examples

->Mutable data types are those whose values can be changed or modified after they are created. This means you can add, remove, or change elements without creating a new object.
Examples:
  - Lists:
  Lists are mutable, allowing you to modify their contents.
  my_list = [1, 2, 3]
  my_list[0] = 10
  my_list.append(4)
  print(my_list)  # Output: [10, 2, 3, 4]

  - Sets:
  Sets are mutable collections of unique elements, allowing you to add or remove items.
   my_set = {1, 2, 3}
   my_set.add(4)  
   my_set.remove(2)  
   print(my_set)  # Output: {1, 3, 4}

 Immutable data types are those whose values cannot be changed after they are created. Any modification results in the creation of a new object rather than altering the original.
Examples:
  - Tuples:
  Tuples are immutable, meaning you cannot change their contents once they are created.
  my_tuple = (1, 2, 3)
  my_tuple[0] = 10  # This would raise a TypeError
  new_tuple = my_tuple + (4,)  # Creating a new tuple
  print(new_tuple)  # Output: (1, 2, 3, 4)
   

3. What are the main differences between lists and tuples in Python

->Lists and tuples are both built-in data structures in Python that can store collections of items. However, they have several key differences that affect their usage and behavior. Here are the main differences between lists and tuples:

 - Mutability : Lists are mutable data structures where as tuples are immutable.
 - Syntax: List uses square brackets [ ] (e.g., [1, 2, 3]) where as tuple uses parentheses ( ) (e.g., (1, 2, 3))
 - Performance: Lists are slower (more overhead) where as tuples are Faster.
 - Memory usage: Lists consumes more memory where as tuples are memory efficient.

4. Describe how dictionaries store data

-> Dictionaries store data as key-value pairs.Each entry in a dictionary consists of a unique key and its associated value.
Keys must be immutable (e.g., int, str, tuple), while values can be of any type (list, dict, etc.).Each key is hashed to find a unique index where its value is stored, enabling fast lookups.
Example:
my_dict = {"name": "Alice", "age": 25}

5. Why might you use a set instead of a list in Python

-> Fast Membership Testing: As you mentioned, sets provide average-case O(1) time complexity for membership checks, while lists have O(n) time complexity. If you need to frequently check for the existence of elements, sets are more efficient.

Uniqueness: Sets automatically enforce uniqueness of elements. If you add duplicate items to a set, they will be ignored. This is useful when you want to ensure that all elements are distinct without having to manually check for duplicates.

Mathematical Set Operations: Sets support mathematical operations like union, intersection, difference, and symmetric difference. These operations can be performed easily and efficiently with set methods, making it simpler to work with collections of items.

Performance with Large Data: For large datasets, the performance benefits of using sets for membership checks and operations can be significant compared to lists.

Cleaner Code: Using sets can lead to cleaner and more readable code when dealing with unique collections of items or when performing set operations.

6. What is a string in Python, and how is it different from a list

-> A string is a sequence of characters used to represent text data. Strings can be defined using single quotes ('...'), double quotes ("..."), triple single quotes ('''...'''), or triple double quotes ("""...""").

Immutable: Strings are immutable, meaning that once a string is created, it cannot be changed. Any operation that modifies a string will return a new string rather than altering the original.

Indexed: Strings are indexed, allowing you to access individual characters using their position. For example, in the string s = "hello", s[0] would return 'h'.

Supports String Methods: Strings come with a variety of built-in methods for manipulation, such as .upper(), .lower(), .replace(), .split(), and many others.

The differences are as follows:

A string is a sequence of characters (text) where as a list is a collection of items that can be of different data types (e.g., integers, strings, other lists).

String is Immutable, you cannot change a string in place. On the other hand list is Mutable, you can modify a list by adding, removing, or changing its elements.

7. How do tuples ensure data integrity in Python

-> Tuples ensure data integrity in Python through their immutability, fixed structure, hashability, and ability to represent related data as a single entity. These characteristics make tuples a reliable choice for situations where maintaining the integrity of data is essential.


8. What is a hash table, and how does it relate to dictionaries in Python

-> A hash table is a data structure that implements an associative array, a structure that can map keys to values. It uses a hash function to compute an index (or hash code) into an array of buckets or slots, from which the desired value can be found. Hash tables are designed to provide efficient data retrieval, insertion, and deletion operations.
Python dictionaries are built on hash tables, leveraging their properties to provide fast access to data. The use of hash functions, buckets, and automatic resizing ensures that dictionaries maintain efficient performance even as they grow in size.

9. Can lists contain different data types in Python

->Yes, lists in Python can contain different data types. This flexibility is one of the key features of lists, allowing them to store a heterogeneous collection of items. You can mix integers, floats, strings, booleans, and even other lists or complex objects within a single list.

10. Explain why strings are immutable in Python

-> Strings are immutable in Python for reasons related to performance optimization, hashability, simplicity, and thread safety. This immutability allows for efficient memory usage, predictable behavior, and safe sharing of string objects across different parts of a program. While it may seem limiting at first, immutability provides significant advantages in terms of reliability and efficiency in string handling.

11. What advantages do dictionaries offer over lists for certain tasks

-> Dictionaries offer significant advantages over lists for tasks that require key-value pair storage, fast lookups, dynamic sizing, uniqueness of keys, descriptive access, and the ability to represent complex data structures. These features make dictionaries a powerful and flexible choice for organizing and managing data in Python, especially when the relationships between data elements are important.

12. Describe a scenario where using a tuple would be preferable over a list

-> Using a tuple would be preferable over a list in scenarios where immutability, fixed structure, and data integrity are important.
Example:
You store GPS coordinates of a location:
eiffel_tower = (48.8584, 2.2941)
Also can be used as keys in dictionaries
 locations = {
         (48.8584, 2.2941): "Eiffel Tower",
         (40.7128, -74.0060): "Statue of Liberty"
     }

13. How do sets handle duplicate values in Python

->Sets are a built-in data structure that automatically handle duplicate values by only allowing unique elements. When you create a set, any duplicate values are automatically removed, ensuring that each element in the set is distinct. Here’s how sets manage duplicates:

14. How does the “in” keyword work differently for lists and dictionaries

-> - Using in with Lists:
When you use the in keyword with a list, it checks for the presence of a specific value (element) within the list.
The operation iterates through the list and returns True if the value is found; otherwise, it returns False.
Example:
my_list = [10, 20, 30, 40]
print(20 in my_list)  # Output: True
print(50 in my_list)  # Output: False

 -  Using in with Dictionaries:
When you use the in keyword with a dictionary, it checks for the presence of a specific key, not a value.
The operation checks if the specified key exists in the dictionary's keys and returns True if found; otherwise, it returns False.
Example:
my_dict = {'x': 100, 'y': 200, 'z': 300}
print('y' in my_dict)  # Output: True
print('a' in my_dict)  # Output: False


15. Can you modify the elements of a tuple? Explain why or why not

-> No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means that once a tuple is created, its contents cannot be changed, added to, or removed. This immutability is a fundamental characteristic of tuples

16. What is a nested dictionary, and give an example of its use case

->A nested dictionary in Python is a dictionary that contains other dictionaries as its values. This structure allows for the representation of complex data relationships and hierarchies, making it useful for organizing related information in a clear and structured way.

Use Case Example: Storing Student Information
Consider a scenario where you want to store information about students in a school, including their names, grades, and subjects. A nested dictionary can effectively represent this data.

students = {
    "student1": {
        "name": "Alice",
        "age": 20,
        "grades": {
            "math": 90,
            "science": 85,
            "english": 88
        }
    },
    "student2": {
        "name": "Bob",
        "age": 21,
        "grades": {
            "math": 75,
            "science": 80,
            "english": 78
        }
    },
    "student3": {
        "name": "Charlie",
        "age": 22,
        "grades": {
            "math": 95,
            "science": 92,
            "english": 90
        }
    }
}
# Accessing data in the nested dictionary
print(students["student1"]["name"])  # Output: Alice
print(students["student2"]["grades"]["math"])  # Output: 75
print(students["student3"]["grades"]["science"])  # Output: 92


17. Describe the time complexity of accessing elements in a dictionary

-> The time complexity of accessing elements in a dictionary is generally O(1) on average. This means that, under typical circumstances, you can retrieve a value associated with a key in constant time, regardless of the number of elements in the dictionary. The average time complexity for accessing elements in a dictionary is O(1), making dictionaries highly efficient for lookups. However, in rare cases of hash collisions, the worst-case time complexity can be O(n). Overall, dictionaries are designed to provide fast access to data, which is one of their key advantages.

18. In what situations are lists preferred over dictionaries

->Lists are preferred when you need an ordered collection of items, require index-based access, or are working with simple sequences of data. They are particularly useful for tasks that involve maintaining the order of elements, performing operations on homogeneous data, or when the overhead of key-value pairs in dictionaries is unnecessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

-> Dictionaries are considered unordered collections because they do not maintain the order of elements based on their insertion. Instead, dictionaries use a hash table to store key-value pairs, which allows for efficient data retrieval but does not guarantee any specific order of the keys.

 - Unpredictable Iteration Order
Looping over a dictionary could return keys in any order, which caused issues if code assumed a specific sequence.

 - Inconsistent Behavior Across Runs
The same dictionary might produce different key orders in different program executions, leading to non-deterministic bugs.

 - Problems with Serialization & Comparisons
Two dictionaries with identical content but different insertion orders could behave differently.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

-> In case of lists the data is retrieved using the index number where as in case of dictionary data is retrieved using keys.

1. Write a code to create a string with your name and print it

In [1]:
my_name = "Chahat"
print(my_name)

Chahat

2. Write a code to find the length of the string "Hello World"

In [2]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
string = "Python Programming"
print(string[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [7]:
string = "hello"
print(string.upper())

HELLO

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [8]:
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [1]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [3]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [5]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [6]:
lst =  ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
lst =  [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
tup =  ('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [12]:
tup = (10, 20, 5, 15)
print(min(tup))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
tup =  ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
tup = ('apple', 'mango', 'banana', 'grapes')
print('kiwi' in tup)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
set1 = {'a','b','c'}
print(set1)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
set1 =  {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
set1 = {1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [27]:
dict = {
    "name": "test",
    "age": 20,
    "city": "chandigarh"
}
print(dict)

{'name': 'test', 'age': 20, 'city': 'chandigarh'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [28]:
dict1 = {
    "name":"John",
    "age":25
}
dict1.update({"country":"USA"})
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [29]:
dict1 = {
    "name":"Alice",
    "age":30
}
print(dict1["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
dict1 = {
    "name":"Bob",
    "age":22,
    "city":"New York"
}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
dict1 = {
    "name":"Alice",
    "city":"Paris"
}
print('city' in dict1)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [36]:
list1 = [1,2,3,4,5,6]
tup = ('books','cars','toys')
dict1 = {
    "name":"Alice",
    "age" : 20
}
print("list: ", list1)
print("tuple: ", tup)
print("dictionary: ", dict1)

list:  [1, 2, 3, 4, 5, 6]
tuple:  ('books', 'cars', 'toys')
dictionary:  {'name': 'Alice', 'age': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [39]:
list1 = [12,56,78,34,89]
list1.sort()
print(list1)

[12, 34, 56, 78, 89]

28. Write a code to create a list with strings and print the element at the third index.

In [40]:
list1 = ['apple','banana','orange','kiwi']
print(list1[3])

kiwi

29. Write a code to combine two dictionaries into one and print the result.

In [42]:
dict1 = {
    "name": "John",
    "age": 29,
    "gender" : "male"
}
dict2 = {
    "country": "USA"
}
dict1.update(dict2)
print(dict1)

{'name': 'John', 'age': 29, 'gender': 'male', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [45]:
list1 = ['apple','banana','orange','kiwi']
print(set(list1))

{'kiwi', 'banana', 'apple', 'orange'}